body {
  background-color: white;
  font-family: 'Didact Gothic',  sans-serif;


}

label {
  width: 5em;
}

h2 {
  font-family: 'Pacifico', cursive;
  color: #50514f;
}

.btn-sm{
  color: black;
}
.right_column{
  text-align: right;
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
}

.habit_title{
  text-decoration: none;
  color: #247BA0;

}
#main {
  margin: 0 15% 0 15%;

}

#flash {
  color: red;
  margin: 0 30% 0 30%;
}

#navbar {
	margin-right: 15%;
	background-color: F2f4ff;
  font-family: 'Pacifico', cursive;
  color: #50514f;

}

#navbar a {
	color: black;
	font-size: 1.5em;
}

#navbar a:hover {
	color: #CBD4C2;
}
a:hover {
  text-decoration: none;
}

.signup{
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  text-align: center;
}
.logo img {
	width: 3em;
}
