<div class="row">
  <h2> Welcome to Habbit Rabbit </h2>
</div>
<br>
Habits can be seen as the foundation of our behavior. In the begining as a
habit is desired, awareness and work is put into it until that habit becomes
part of you and your daily routine.
<br>
<br>
Research has shown that it takes around a month for a new habit to be learned.
They also suggest to only focus on a couple habits and to make the goals attainable.
The goal is to work on little goals and steps to then increase that habit into a greater one.
With Habbit Rabbit you can create a daily log of the habits you are wanting to establish for yourself.

<br><br><br>

<h4>“Cultivate the habit of being grateful for every good thing that comes to you, and to give thanks continuously.
And because all things have contributed to your advancement, you should include all things in your gratitude.”
― Ralph Waldo Emerson  </h4>
