<div >
  <h2> Welcome, <%= current_user.username%>.
    Habits you are working on.
  </h2>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="clearfix -col-md-4 right_column">
        <button type="button" class=".btn-sm " ><a href="/habits/new" >Add Habit </a></button>
    </div>
  </div>

  <div class="clearfix visible-col-md-8 habit_title" >
    <% @habits.each do |habit|%>
      <ul> <a href="/habits/<%=habit.id %>" ><%= habit.title %> </a>
        - - - <%= habit.description %>
      </ul>
     <% end %>
 </div>
</div>
