
 <div > Welcome, <%= current_user.username%>. Habits you are working on.</div>
<div class="row">
<div class="col-md-8" style="background-color: yellow">

   <ul>
     <% @habits.each do |habit|%>
     <li> <a href="/habits/<%=habit.id %>" ><%= habit.title %> </a>
       --------- <%= habit.description %> </li>
       <% end %>

    </ul>


 </div>

 <div class="col-md-4" style="background-color: lightblue">  <a href="/habits/new" >Add Habit </a></div>
</div>
